

  .people_you_may_know{
    margin-top: 20vh;
    padding: 20px;
    width: auto;
  }

  @media screen and (max-width:768px){
    .people_you_may_know {
      display: none;
      float: left;
    }
    .feed {
      width: 100vw;
    }
    .firstPost {
      width: 100vw;
    }
    
  }

  #newPostSection{
    display: none;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }

  .new_post_content{
    background-color: #333333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 1vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  }

  .newPostPFP{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
    border: 1px solid rgb(202, 202, 202);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  }

  .newPostUsername{
    color: white;
  }

.close{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 1vw;
}

.close:hover,
.close:focus{
  color: black;
  cursor: pointer;
}

.postButtons{
  text-align: center;
  margin-top: 20px;
}

.uploadButton{
padding: 10px 20px;
margin: 5px;
font-size: 16px;
color: white;
background-color: #ff5406;
border: none;
border-radius: 5px;
}

.uploadButton:hover{
  cursor: pointer;
  background-color: #fc5b12;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

  .feed{
    margin-left: auto;
    margin-right: 30vw;
    margin-top: 180px;
    width: 40vw;

    background-color: white;
  }
