body{
  background-image: url(../images/loginbgimg.jpg);
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;


  background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
  -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
  -moz-background-size: cover; /* optional for Firefox 3.6 */ 
  -o-background-size: cover; /* for Opera 9.5 */
  margin: 0; /* to remove the default white margin of body */
  padding: 0; /* to remove the default white margin of body */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background_img{
  width: 100vw;
  height: auto;
  object-fit: cover;
  z-index: -1;
  position: relative;
}

.login_box{
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  border: 1px solid white;
  padding: 20px;
  width: 40vw;
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 13vh;
  overflow: hidden;
  height: auto;
}

article{
  font-size: 3em;
  color: black;
}

.loginText{
  color: black;
}

.loginButtons{
  padding-top: 1vw;
  display: flex;
  justify-content: center;
}

.choiceButton{
  margin-left: 10px;
  margin-right: 10px;
  width: 6vw;
  height: 3vw;
  background-color: #ff5406;
  border: none;
  border-radius: 0.5vw;
  transition: 0.3s;
  overflow: hidden;
  font-size: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.choiceButton:hover{
  cursor: pointer;
  background-color: #d14200;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logininfo{
  height: 3vw;
  width: 20vw;
  border-radius: 10px;
  border-color: #ff5406;
  padding: 5px;
}

.staySignedInCheckbox{
  display: flex;
  justify-content: center;
}

.staySignedInCheckbox input{
  margin-right: 10px;
}

.staySignedInCheckbox input:hover{
  color: #ff5406;
}

.loginsubmit{
  margin-top: 20px;
  background-color: #ff5406;
  width: 10vw;
  height: 2vw;
  border: none;
  border-radius: 1vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
}
.loginsubmit:hover{
  margin-top: 20px;
  background-color: #d14200;
  width: 10vw;
  height: 2vw;
  border: none;
  border-radius: 1vw;
  box-shadow: 0 0 5px white;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.pageEndText{
  color: black;
  font-family: sans-serif;
  font-style: italic, ;
  font-size: 0.8em;
  }

a{
  color: black;
}

.capsLockWarning{
  color: rgb(183, 6, 6);
  text-decoration: underline;
  opacity: 0;
}