.pymk_content {
    border: 1px solid white;
    width: 18vw;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.suggested_profile{
    border: 1px solid rgb(215, 215, 215);
    width: 15vw;
    height: 80px;
    margin-left: 0.5vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h4 {
    color: #ff5406;
    margin-left: 0.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
.suggested_profile p{
    margin-top: 30px;
    overflow-x: hidden;
    color: #ff5406;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.suggested_profile_img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
